.Create-post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Create-Post-Modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hidden-create-post {
  display: none;
}

@media screen and (max-width: 750px) {
  .Hidden-create-post {
    display: flex;
    align-items: center;
  }

  .Hidden-create-post .Create-post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .MuiFormControl-root {
    margin-top: 10px;
    width: auto;
  }

  .MuiButton-text {
    padding: 6px 10px;
  }

  .Create-post-footer {
    margin-top: 10px;
  }
}
