.Header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.Header-left {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.Header-left button {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 25px;
  color: rgb(75, 35, 168);
}

.Header-left button:hover {
  cursor: pointer;
}

.Header-right {
  display: flex;
  margin-right: 16px;
  align-items: center;
}

.Profile-picture-container {
  margin-left: 16px;
}

.Header-image {
  display: none;
}

@media screen and (max-width: 750px) {
  .Header-image {
    display: block;
  }
}
