.Loading-bar {
  height: 5px;
  overflow: hidden;
}

.Inside-loading-bar {
  width: 100%;
  height: 100%;
  background: rgb(75, 35, 168);
  background: linear-gradient(
    90deg,
    rgba(75, 35, 168, 1) 0%,
    rgba(255, 41, 66, 1) 50%,
    rgba(255, 105, 51, 1) 100%
  );
  animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
  0% {
    background: linear-gradient(
      90deg,
      rgba(75, 35, 168, 1) 0%,
      rgba(255, 41, 66, 1) 50%,
      rgba(255, 105, 51, 1) 100%
    );
  }
  33% {
    background: linear-gradient(
      90deg,
      rgba(255, 105, 51, 1) 0%,
      rgba(75, 35, 168, 1) 50%,
      rgba(255, 41, 66, 1) 100%
    );
  }
  66% {
    background: linear-gradient(
      90deg,
      rgba(255, 41, 66, 1) 0%,
      rgba(255, 105, 51, 1) 50%,
      rgba(75, 35, 168, 1) 100%
    );
  }
}
