.User-profile-order-picker {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.Order-item {
  display: flex;
  margin-right: 16px;
  position: relative;
  bottom: -1px;

  display: flex;
  align-items: center;
  padding: 5px 8px;
  font-size: 14px;
  border-bottom: 2px solid transparent;
}

.Order-item:hover {
  cursor: pointer;
  border-bottom: 2px solid gray;
}

.User-profile-order-picker-icon {
  color: rgb(100, 100, 100);
  margin-right: 10px;
  font-size: 16px;
}

@media screen and (max-width: 550px) {
  .User-profile-order-picker {
    justify-content: space-between;
  }
  .Order-item {
    margin-right: 0px;
  }
}
